<!-- views/partials/activity-form.handlebars -->

<form action="/todos/activities" method="post">

  <fieldset>
    <input type="hidden" value="{{todo._id}}" name="todoId">
    <legend>Update your activity on the task</legend>
      <!-- DATE -->
  <div class="form-group">
    <label for="comment-title">What is the date?</label><br>
    <input class="form-control"
      id="comment-title"
      type="text"
      name="title"
      placeholder="MM/DD/YYYY"/>
  </div>
    <!-- DESCRIPTION -->
    <div class="form-group">
      <label for="activity-content">Activity Log</label><br>
      <textarea class="form-control"
      id="activity-content"
      name="content"
      rows="10"
      placeholder="How is it going so far?"/></textarea>
    </div>
  </fieldset>

  <!-- BUTTON -->
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Save Progress</button>
  </div>
</form>
