<!-- views/partials/comment-form.handlebars -->

<form>
  <fieldset>
    <legend>Update your activity on the task</legend>
    <!-- DESCRIPTION -->
    <div class="form-group">
      <label for="comment-content">Activity Log</label><br>
      <textarea class="form-control"
      id="comment-content"
      name="content"
      rows="10"
      placeholder="How is it going so far?"/></textarea>
    </div>
  </fieldset>

  <!-- BUTTON -->
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Save Progress</button>
  </div>
</form>
