<!-- views/partials/todos-form.handlebars -->

<fieldset>
  <legend>Edit To-dos</legend>
  <!-- TITLE -->
  <div class="form-group">
    <label for="todo-title">Title</label><br>
    <input class="form-control" id="todo-title" type="text" name="title" value="{{todo.title}}"/>
  </div>

  <!-- MOVIE TITLE -->
  <div class="form-group">
    <label for="movie-title">Movie Title</label><br>
    <input class="form-control" id="movie-title" type="text" name="movieTitle" value="{{todo.movieTitle}}" />
  </div>

  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="todo-description">Description</label><br>
    <textarea class="form-control" id="todo-description" name="description" rows="10" />{{todo.description}}</textarea>
  </div>
</fieldset>
