<!-- todos-index -->

<div class="jumbotron">
<div class="container">
  <h1 class="display-4">Get Organized Fast!</h1>
  <p class="lead">Start listing your task and get productive!</p>
</div>
</div>

<h1>To-Dos</h1>

<a href="/todos/new">New To-Do</a>

<div>
{{#each todos}}
  <ul>
    <li>
      <h2><a href="/todos/{{this._id}}">{{this.title}}</a></h2>
    </li>
  </ul>
{{/each}}
</div>
